h1 {
  color: #596aca;
  text-align: center;
  padding-top: 30px;
  max-width: 70%;
  font-size: 60px;
}
ul {
  list-style: none;
}
li .values {
  color: #8ec451;
  font-weight: normal;
  line-height: 1;
}

.rightNow {
  color: #42a5f5;
  font-size: 24px;
  font-weight: normal;
  line-height: 30px;
  text-transform: capitalize;
}
.col-5 {
  color: #596aca;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  padding: 0 70px;
  letter-spacing: 2px;
}

h4 {
  max-width: 70%;
  color: #52ae54;
  font-size: 28px;
}

h2,
p,
ul {
  display: inline;
}

h2 {
  color: #207bca;
  font-size: 65px;
  font-weight: normal;
  text-align: left;
  line-height: 2;
}

h3 {
  max-width: 100%;
  color: #52ae54;
  font-size: 28px;
  border: 4px solid #52ae54;
  border-radius: 10px;
  padding: 15px;
}
p {
  font-size: 40px;
}
.recently-searched {
  text-align: center;
  max-width: 60%;
  margin-left: 10px;
}

.city {
  color: #8ec451;
  font-weight: normal;
  font-size: 26px;
  text-align: center;
}
.city-emoji {
  font-size: 40px;
  text-align: center;
}

.weather-temperature .units {
  font-size: 16px;
  position: relative;
  top: -34px;
  color: #666666;
}

.weather-temperature .active {
  cursor: default;
  color: #666666;
}

.weather-temperature .active:hover {
  cursor: default;
  color: #666666;
  text-decoration: none;
}

.search-current,
.search-city,
.search {
  width: 300px;
  border: 4px solid #76d1cb;
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  background: transparent;
  color: #76d1cb;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  font-size: 18px;
}
::placeholder {
  color: #76d1cb;
}

button {
  background-color: transparent;
  border: 4px solid #76d1cb;
  color: #76d1cb;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
  border-radius: 4px;
}
button:hover {
  background-color: #76d1cb;
  border: 4px solid #76d1cb;
  color: white;
  font-size: 18px;
  padding: 0.5rem 0.75rem;
  letter-spacing: 1px;
}

.weather-forecast {
  color: #596aca;
  font-size: 24px;
  border: 4px solid #9ba6df;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.high-temperature {
  color: #596aca;
  font-size: 14px;
}
.high-temperature-f {
  color: #596aca;
  font-size: 22px;
}
.low-temperature {
  color: #acb2be;
  font-size: 14px;
}

.low-temperature-f {
  color: #acb2be;
  font-size: 22px;
}

.forecastMax {
  color: #596aca;
  font-size: 22px;
}
.forecastMin {
  color: #acb2be;
  font-size: 22px;
}

.col {
  color: #76d1cb;
  text-align: center;
}
.forecast-emoji {
  font-size: 55px;
  text-align: center;
}
.container {
  border: 4px solid #666666;
  border-radius: 10px;
}
.border {
  border: 4px solid #666666;
  border-radius: 10px;
}

.forecast-time {
  color: #596aca;
  font-size: 22px;
}
